<h1>Add Party</h1>

<%= form_with(model: @party) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name%><br>
    <%= f.label :date %>
    <%= f.date_field :date %><br>
    <%= f.label :budget %>
    <%= f.number_field :budget%><br>
    <%= f.label :private %>
    <%= f.select :private, options_for_select(["Select One", "True", "False"],:disabled => ["Select One"]) %><br><br>
    <%= f.label :category %>
    <%= f.collection_select :category_id, @categories, :id, :name, prompt: true%>
    <br>
    <h4> OR make a new category </h4>

    <%= f.fields_for :category do |category_fields| %>
        <%= category_fields.label :name %>
        <%= category_fields.text_field :name %>  
    <% end %>
    <h4> Create supplies (optional) </h4>
    <%= f.fields_for :supplies, @party.supplies.build do |supplies_fields| %>
        <%= supplies_fields.label :name %>
        <%= supplies_fields.text_field :name %>  
    <% end %>

    <br><%= f.submit %>

<% end %>

<%= link_to "Back", :back %>