<h2>Name: <%= @party.name %></h2> <br>
<h2>Date: <%= @party.date %></h2><br>
<h2>Budget: <%= @party.budget %></h2><br>
<h2>Private: <%= @party.private %></h2><br>

<%= link_to "edit", edit_party_path(@party) %>